* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/repeatingwater.jpg);
}

.header {
    font-family: 'Alfa Slab One', cursive;
    color: #fad284;
    padding: 4rem;
    background-image: url(../images/header_bg.png);
    background-size: cover;
}

.container {
    background-color: #49beb7;
}